:root {
  --color-bg--primary: #1A2732;
  --color-bg--secondary: #29333E;
  --color-primary: #6E63E6;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: var(--color-bg--primary);
  overflow-y: auto;
}

.wrapper {
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg--primary);
  overflow-y: auto;
}

.container {
  width: 90vw;
  max-width: 1140px;
  min-height: 90vh;
  padding: 40px;
  background-color: var(--color-bg--secondary);
  border-radius: 1.5rem 1.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Filter */
.filter {
  width: 100%;
  max-width: 400px;
}

/* Form */
.form {
  width: 100%;
  max-width: 400px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

input {
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 0.5em;
  padding: 0px 10px;
  margin-bottom: 1rem;
  font-size: 16px;
  max-width: 400px;
}

.form-button {
  display: flex;
  max-width: 400px;
  justify-content: flex-end;
}

/* Contact list */
.contact-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 400px;
}

.contact-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  font-size: 1rem;
  font-weight: 500;
}

/* Notifications */

.notification {
  position: absolute;
  top: 20px;
  width: 90vw;
  max-width: 1140px;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1rem;
}

.success {
  background: #E0F3EF;
  color: #005538;
}

.warning {
  background: #FDF7DE;
  color: #EDB600;
}

.danger {
  background: #FBE9E7;
  color: #F24E1E;
}

div {
  font-size: 20px;
}

/* Typography */
h1, h2 {
  color: white;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}

/* Buttons */
button {
  display: inline-block;
  border: none;
  border-radius: 3rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 125%;
  color: #fff;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

button:focus:not(:focus-visible) {
  outline: none;
}

.btn--primary {
  background-color: var(--color-primary);
  padding: 8px 12px;
  min-width: 90px;
}

.btn--primary:hover {
  background-color: #7A6EFF;
}

.btn--secondary {
  background-color: transparent;
  color: #50A0FC;
  border: 1px solid #50A0FC;
  font-size: 0.8rem;
  padding: 4px 8px;
}

/* Mobile */

@media screen and (max-width: 600px) {
  .wrapper {
    margin-top: 5vh;
    align-items: flex-start;
  }

  .header-container {
    width: 90vw;
    margin: 0 auto;
  }

  .container {
    width: 100vw;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: var(--color-bg--primary);
    border-radius: 0;
  }

  .filter, .form, input, .form-button, .contact-list {
    max-width: none;
  }

  .contact-list {
    background-color: var(--color-bg--secondary);
    width: 100vw;
    min-height: 50vh;
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}