:root {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Flexbox */
.flex {
  display: flex;
}

.flex-vertical {
  flex-direction: column;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-end {
 justify-content: flex-end; 
}

.flex-ai-c {
  align-items: center;
}

/* Buttons */
button {
  display: inline-block;
  text-align: center;
  width: fit-content;
}

/* Wrappers/containers */
.app-wrapper {
  margin-top: 10vh;
}

.nav-container * {
  margin-right: 10px
}

.bloglist-container {
  margin-top: 2.5em;
}

.new-blog-form-container {
  margin-top: 2.5em;
}

.blog-container {
  width: 90vw;
  max-width: 480px;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #f1f1f18f; 
}

.users-container {
  width: 90vw;
  max-width: 360px;
}

/* Notifications */

.notification {
  position: absolute;
  top: 20px;
  width: 90vw;
  max-width: 1140px;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1rem;
}

.success {
  background: #E0F3EF;
  color: #005538;
}

.warning {
  background: #FDF7DE;
  color: #EDB600;
}

.error {
  background: #FBE9E7;
  color: #F24E1E;
}